<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711533030310-ao93c1jn38vfi0a1m5qi6bp7r8cuqrgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711533030310-ao93c1jn38vfi0a1m5qi6bp7r8cuqrgn</string>
	<key>API_KEY</key>
	<string>AIzaSyD7DjMtefa7PTGHXxnkyN6nq9u7q6neRE8</string>
	<key>GCM_SENDER_ID</key>
	<string>711533030310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripPlanner</string>
	<key>PROJECT_ID</key>
	<string>tripplanner-26cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>tripplanner-26cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711533030310:ios:3a6d3fcbcdee695733fd67</string>
</dict>
</plist>